@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

.body{
  padding: 10px;
  font-family: "ABeeZee";
}

.book-card {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-color: #ffdecf;
  max-width: 600px;
  margin: 20px;
  align-items: center;
}

.book-image {
  width: 120px;
  height: 170px;
  border: 1.5px solid black;
  object-fit: fill;
  border-radius: 10px;
  margin-right: 20px;
}

.book-details {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.book-names{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.book-title {
  font-size: 4vw;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.book-author {
  color: black;
  font-size: 3vw;
  margin-top: 5px;
  text-align: left;
}

.progress-container {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  display: flex;
  background-color:#f4663b4c;
  border-radius: 10px;
  width: 80%;
  height: 15px;
}

.progress-bar-done{
  background-color:#f4663b;
  border-radius: 10px;
  height: 100%;
}

.book-progress-container{
  display: flex;
  align-items: center;
}

.progress-percentage {
  font-size: 3vw;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

.page-info {
  display: flex;
  justify-content: space-between;
  font-size: 2.5vw;
  font-weight: bold;
  color: black;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.page-info-read{
  color: #f4663b;
  font-weight: 700;
}

.button-container{
  display: flex;
  justify-content: center;
  width: fit-content;
  width: 100%;
  padding-bottom: 0;
}


.continue-button {
  color: #f4663b;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 3vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


